@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1> <!--to add space after navigation bar-->
    
    <h1 class="display-4">Welcome</h1> <!--code to show the heading of welcome on the home page-->
   
    <p>Technology that changes the future</p><!--code to show the tagline on the home page-->
   
    <img src="~/images/holywoodtwin.jpg" /><!--code to show the image on the home page-->
   
</div>





